html {
  scroll-behavior: smooth;
}
/* Hide scrollbar */
      .carousel::-webkit-scrollbar {
        display: none;
      }
      .carousel {
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
      }
      @font-face {
  font-family: 'Mexon';
  src: url('/assets/Mexon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply the font to the specific element */
h1 {
  font-family: 'Mexon', sans-serif;
}
        
.neon {
  text-shadow: 0 0 5px #007BFF, 0 0 10px #007BFF, 0 0 20px #007BFF;
}
.neon-button {
  border: 2px solid #007BFF;
  box-shadow: 0 0 10px #007BFF, 0 0 20px #007BFF;
}
.neon-button:hover {
  box-shadow: 0 0 20px #FF007F, 0 0 40px #FF007F;
  border-color: #FF007F;
}
.event-card {
  background-color: rgba(255, 255, 255, 0.1); /* Transparent overlay on card */
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Updated to match the blue neon */
}
